@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor:pointer;
}

.fa:hover{
	color:#489bef;

}
/* makes the font 33% larger relative to the icon container */
.fa-2x {
  font-size: 2em;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
   

.fa-user:before {
  content: "\f007";
}
.fa-key:before {
  content: "\f084";
}

.cclogin-addon{
	color:#0473e3; 
	float:left;
	padding:9px;
	width:8%;
	background:#FFFFFF;
	text-align:center;	
}

.cclogin.simple{
	margin-bottom:60px;
}

.cclogin input[type="text"],
.cclogin input[type="password"],
.cclogin select{
	padding:10px;
	width:100%;
	border:none;
	height:50px;	
	line-height:50px;
	color:#757575;
}

.cclogin input[type="checkbox"]{
	margin: 0 10px 0 0;
	border:none;
}
.cclogin input[type="submit"]{
	border:none;
	padding:10px;
	background:#FFFFFF;
	color:#757575;
	cursor:pointer;
}

.cclogin.icons input[type="text"],
.cclogin.icons input[type="password"] {
	width:92%;	
}
.cclogin.icons .half input[type="text"] {
	width:100%;	
}